@model Yttran.Models.SlideLogo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SlideLogo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlidePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlidePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a href="/Admin/SlideLogoes/Edit/@Model.Id">Edit</a> |
    <a href="/Admin/SlideLogoes/Index">Back to List</a>
</div>
