@model IEnumerable<Yttran.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css{ 
    <link rel="stylesheet" href="~/css/Admin/StyleSheet.css"/>
}
<h1>News</h1>

<p>
    <a href="/Admin/News/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(item.AllContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a href="/Admin/News/Edit/@item.Id">Edit</a> |
                <a href="/Admin/News/Details/@item.Id">Details</a> |
                <a href="/Admin/News/Delete/@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
