@model IEnumerable<Yttran.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu services</h1>

<p>
    <a href="/Admin/Menus/Create/">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a href="/Admin/Menus/Edit/@item.Id">Edit</a> |
                <a href="/Admin/Menus/Details/@item.Id">Details</a> |
                <a href="/Admin/Menus/Delete/@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
